root = true

[*]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[{package.json,tslint.json,*.yml}]
indent_style = space
indent_size = 2

[tsconfig.json]
indent_style = space
indent_size = 4
