language: node_js

node_js:
  - '6'
  - '8'
  - '10'
  - '11'

dist: trusty
sudo: required

env:
  - CXX=g++-5

matrix:
  fast_finish: true

install:
  - wget -O Firebird-3.0.3.32900-0.amd64.tar.gz "https://github.com/FirebirdSQL/firebird/releases/download/R3_0_3/Firebird-3.0.3.32900-0.amd64.tar.gz"
  - tar xzvf Firebird-3.0.3.32900-0.amd64.tar.gz
  - (cd Firebird-3.0.3.32900-0.amd64; sudo ./install.sh -silent)
  - sudo usermod -a -G firebird travis

script:
  - sg firebird -c "yarn"
  - sg firebird -c "yarn bootstrap"
  - sg firebird -c "yarn test"

cache:
  directories:
    - node_modules

git:
  depth: 1

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-5
      - g++-5
      - libtommath0
